/**
 * iTabs v1.1 - 27/04/2016
 * divide of content by tab
 *
 * developed by Wallace Rio <wallrio@gmail.com>
 * wallrio.com
 * 
 * tested on firefox/chrome/opera/ie8/safari
 * 
 */


.itabs.tabFlat{
	background: #eee;
}.itabs.tabFlat *{
	padding: 0px;
	margin: 0px;
}.itabs.tabFlat [data-rel="tabs"]{
	/*border:1px solid red;*/
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"]{
	display: inline-table;
	padding: 10px;
	margin-right: -6px;
	background: #eee;
	color: #444;
	box-shadow: 0px 0px 0px 1px #ccc inset;
	cursor: pointer;
	
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"]:hover{
	display: inline-table;
	padding: 10px;
	margin-right: -6px;
	background: #fff;
	color: #444;
	box-shadow: 0px 0px 0px 1px #ccc inset;	
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"]:active{
	display: inline-table;
	padding: 10px;
	margin-right: -6px;
	background: #666;
	color: #fff;
	box-shadow: 0px 0px 0px 1px #ccc inset;		
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"][disabled="disabled"]{
	pointer-events:none;
	display: inline-table;
	padding: 10px;
	margin-right: -6px;
	background: #ccc;
	color: #A7A7A7;
	box-shadow: 0px 0px 0px 1px #ccc inset;	
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"][data-status="active"]{
	background: blue;
	color: #fff;	
}
}.itabs.tabFlat [data-rel="slides"] {
	border:1px solid #ccc;
}.itabs.tabFlat [data-rel="slides"] [data-rel="slide"]{
	display: none;
}.itabs.tabFlat [data-rel="slides"] [data-rel="slide"][data-status="active"]{
	display: block;
}