/**
 * iTabs v1.4 - 13/09/2016
 * divide of content by tab
 *
 * developed by Wallace Rio <wallrio@gmail.com>
 * wallrio.com
 * 
 * tested on firefox v48 /chrome v38
 * 
 */


.itabs.tabFlat{
}.itabs.tabFlat [data-rel="tabs"]{		
	background: #EEEEEE;
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"]{
	display: table-cell;
	padding: 14px;
	border: 0px;
	margin: 0px;
	box-shadow: none;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: #0C4495;
	text-decoration: none;
	padding-bottom: 11px;
	background: #eee;
	text-transform: uppercase;	
	vertical-align: middle;
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"]:hover{
	background: #DCDCDC;
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"]:active{
	background: #aaa;
	color: #fff;
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"][disabled="disabled"]{
	pointer-events:none;
	display: inline-table;
	padding: 10px;
	margin-right: -6px;
	background: #ccc;
	color: #A7A7A7;
	box-shadow: 0px 0px 0px 1px #ccc inset;	
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"][data-status="active"]{
	background: #0C4495;
	padding-top: 10px;
	padding-bottom: 6px;
	color: #fff;
	font-weight: bold;
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"][data-status="active"]:hover{
	background: #073474;
}.itabs.tabFlat [data-rel="tabs"] > a[data-rel="tab"][data-status="active"]:active{
	background: #02214C;
}.itabs.tabFlat [data-rel="slides"] {	
}.itabs.tabFlat [data-rel="slides"] [data-rel="slide"]{
	display: block;	
	visibility: hidden;
	padding-top: 10px;
	height: 0px;
	overflow: hidden;
}.itabs.tabFlat [data-rel="slides"] [data-rel="slide"][data-status="active"]{
	visibility: visible;
	height: auto;
}


